@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  padding: 0;
  margin: 0;
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

main{
    width: 1120px;
    margin: 0 auto;
}

header {
  height: 120px;
  position: relative;
}

:root {
  --main-radius: 0px;
}

.splide__slide {
  cursor: grab;
}

.slide__container {
  height: 800px;
}

.slide__grid {
  display: grid;
  grid-template-columns: 0.66fr 0.75fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sidebar main"
    "sidebar content1";
  grid-gap: 1rem;
}

.slide__single {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.slide__left {
  background-size: cover;
  background-position: center center;
  grid-area: sidebar;
}
  
.slide__left {
  background-size: cover;
  background-position: center center;
  grid-area: sidebar;
}

.slide__right-up {
  background-size: cover;
  background-position: center center;
  grid-area: main;
}
  
.slide__right-down {
  background-size: cover;
  background-position: center center;
  grid-area: content1;
}

button.splide__pagination__page {
  background: #898989;
}
button.splide__pagination__page:hover {
  background: #a20606;
}
button.splide__pagination__page.is-active {
  background: #a20606;
}
.splide__arrow {
  height: 100%;
  width: 20%;
}
.splide__arrow--next {
  right: 0;
  cursor: url('imgs/arrow-right.svg'), auto !important;
}
.splide__arrow--prev {
  left: 0;
  cursor: url('imgs/arrow-left.svg'), auto !important;
}
.splide__arrow svg {
  opacity: 0;
}

/* Project Grid styles*/

.projectgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 100px;
  margin-top: 120px;
}

.project{
  width: 100%;
  height: 173px;
  background-size: cover;
  position: relative;
}

.project:hover .projectinfo,
.project:active .projectinfo {
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.project:hover .projecttext{
  opacity: 1;
  transition: 0.3s;
}

.projectinfo{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: 0.3s;
  display: block;
  
}

.projecttext{
  position: absolute;
  bottom: 16px;
  left: 20px;
  color: white;
  font-size: 20px;
  opacity: 0;
}

.logo{
  position: absolute;
  top: 20px;
  right: 0px;
  width: 80px;
}

.header-text{
  width: 200px;
  position: absolute;
  top: 28px;
}

.logo-line{
  height: 2px;
  width: calc(100% - 140px);
  background-color: black;
  position: absolute;
  top: 59px;
}

@media only screen and (min-width: 1024px) and (max-width: 1119px) {
  /* iPad landscape */
  main {
    width: 992px;
  }
  header {
    height: 80px;
  }
  .slide__container {
    height: 685px;
  }
  .splide__arrow {
    display: none;
  }
  .project{
    height: 152px;
  }
  .logo{
    position: absolute;
    top: 10px;
    right: 0px;
    width: 60px;
  }

  .header-text{
    width: 150px;
    position: absolute;
    top: 16px;
  }

  .logo-line{
    height: 2px;
    width: calc(100% - 120px);
    background-color: black;
    position: absolute;
    top: 39px;
  }
}


@media only screen and (min-width: 551px) and (max-width: 1023px) {
  /* iPad portrait */
  main {
    width: 736px;
  }
  .slide__container {
    height: 505px;
  }
  .splide__arrow {
    display: none;
  }
  .projectgrid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .project{
    height: 172px;
  }
}

@media only screen and (max-width: 550px) {
  /* mobile */
  main {
    width: 100vw;
  }
  header {
    height: 60px;
  }
  .slide__container {
    height: 150vw;
  }
  .slide__grid {
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "sidebar";
  }
  .splide__arrow {
    display: none;
  }
  .projectgrid{
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
  }
  .project{
    height: calc(33vw - 16px);
  }
  .projecttext{
    bottom: 8px;
    left: 10px;
    font-size: 14px;
  }
  .logo{
    position: absolute;
    top: 10px;
    right: 16px;
    width: 40px;
  }

  .header-text{
    width: 100px;
    position: absolute;
    top: 14px;
    left: 16px;
  }

  .logo-line{
    height: 1px;
    width: calc(100% - 110px);
    background-color: black;
    position: absolute;
    top: 29px;
    left: 16px;
  }
}

.responsive-img{
  max-width: 100%;
}

.caption{
  margin-top: 5px;
  margin-bottom: 50px;
}

.timestamps{
  height: 20px;
  width: 100px;
}
